* {
  color: #221E24;
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
  font-family: "Lobster";
}

h2 {
  font-size: 1.5rem;
  font-family: "Shadows into Light";
}

h3 {
  font-family: "Shadows into Light";
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  max-width: 3000px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  background: #e2e0f1;
}

body::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f2db8d, #96896e);
  clip-path: circle(25% at 85% 62%);
}

body::after {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#82449e, #bca5c7);
  clip-path: circle(20% at 13% 25%);
}

header {
  width: 100vw;
  height: 10vh;
  background-color: #bca5c7;
}

nav {
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media screen and (min-width: 768px) {
  nav {
    padding: 0 3rem;
  }
}
nav a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a i {
  font-size: 1.7rem;
}
nav a p {
  margin: 5px 0px 0px 0px;
}
@media screen and (max-width: 767px) {
  nav a p {
    display: none;
  }
}
nav img {
  height: 100%;
}

footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #bca5c7;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.social {
  padding: 1.5rem 15% 0 15%;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  ul.social {
    padding: 1.5rem 35% 0 35%;
    font-size: 3rem;
  }
}
ul.links {
  padding: 1rem 0;
  font-size: 1.2rem;
  flex-direction: column;
  height: 13ch;
}
@media screen and (min-width: 768px) {
  ul.links {
    flex-direction: row;
    justify-content: space-evenly;
    height: 8ch;
    padding: 0;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;
}
.presentation h2 {
  padding: 0 0 1.5rem 0;
}
.presentation p {
  text-align: center;
}

.itemHolder {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .itemHolder {
    width: 90%;
  }
}
.itemHolder h2 {
  text-align: center;
  font-size: 3rem;
}

.cardContainer {
  display: grid;
  margin: 2rem 2rem 5rem 2rem;
  grid-template-rows: repeat(5, 1fr);
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "card1 card1 card2 card2 card3 card3" ". card4 card4 card5 card5 .";
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card1 card1 card2 card2" "card3 card3 card4 card4" ". card5 card5 .";
  }
}

@media screen and (min-width: 768px) {
  .card1 {
    grid-area: card1;
  }

  .card2 {
    grid-area: card2;
  }

  .card3 {
    grid-area: card3;
  }

  .card4 {
    grid-area: card4;
  }

  .card5 {
    grid-area: card5;
  }
}
.teddyCard {
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transform: scale(1);
  backdrop-filter: blur(5px);
}
.teddyCard a {
  width: 100%;
  height: 100%;
}
.teddyCard a figure {
  position: relative;
  width: 100%;
  height: 100%;
}
.teddyCard a figure img {
  height: 300px;
  opacity: 0.9;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  object-fit: cover;
}
.teddyCard a figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem 1rem 1rem;
}
.teddyCard a figure figcaption .cardNumber {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 5em;
  color: rgba(188, 165, 199, 0.7);
}
.teddyCard a figure figcaption .colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teddyCard a figure figcaption .colors i {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin: 0 3%;
  font-size: 1.2rem;
}
.teddyCard a figure figcaption .colors i.tanColor {
  color: tan;
}
.teddyCard a figure figcaption .colors i.chocolateColor {
  color: chocolate;
}
.teddyCard a figure figcaption .colors i.blackColor {
  color: #221E24;
}
.teddyCard a figure figcaption .colors i.whiteColor {
  color: wheat;
}
.teddyCard a figure figcaption .colors i.paleBrownColor {
  color: #987654;
}
.teddyCard a figure figcaption .colors i.darkBrownColor {
  color: #654321;
}
.teddyCard a figure figcaption .colors i.brownColor {
  color: brown;
}
.teddyCard a figure figcaption .colors i.blueColor {
  color: blue;
}
.teddyCard a figure figcaption .colors i.pinkColor {
  color: pink;
}
.teddyCard a figure figcaption .colors i.beigeColor {
  color: beige;
}
.teddyCard a figure figcaption .colors p {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
.teddyCard a .hoverCard {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2e0f1;
  opacity: 0.85;
  transform: translateY(500px);
}
.teddyCard a .hoverCard p {
  font-size: 3rem;
}
.teddyCard:hover {
  z-index: 2;
  transform: scale(1.1);
  transition: 300ms;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.teddyCard:hover .hoverCard {
  transform: translateY(0);
  transform: scale(1.1);
  transition: 300ms;
}

.itemTitle {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.itemText {
  width: 90%;
  text-align: center;
  margin-bottom: 4rem;
}

.itemCard {
  width: 80%;
}
.itemCard .singleTeddyCard {
  margin: auto;
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  width: 100%;
  max-width: 1275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  backdrop-filter: blur(5px);
}
.itemCard .singleTeddyCard img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.itemCard .singleTeddyCard .itemName {
  margin-bottom: 1rem;
}
.itemCard .singleTeddyCard .itemName h2 {
  font-size: 2rem;
}
.itemCard .singleTeddyCard .itemDescription {
  margin-bottom: 1rem;
}
.itemCard .singleTeddyCard .itemNumber {
  display: flex;
  justify-content: center;
}
.itemCard .singleTeddyCard .itemNumber p {
  margin-right: 0.5rem;
}
.itemCard .singleTeddyCard .itemNumber .subBtn {
  margin-right: 0.5rem;
}
.itemCard .singleTeddyCard .itemNumber .addBtn {
  margin-left: 0.5em;
}
.itemCard .singleTeddyCard .itemNumber input {
  width: 50px;
  text-align: center;
}
.itemCard .singleTeddyCard .displayColor {
  position: absolute;
  top: 8vw;
  right: 15px;
  display: flex;
  flex-direction: column;
}
.itemCard .singleTeddyCard .displayColor .fas {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: clamp(10px,7vw,110px);
  margin-bottom: 3vw;
}
.itemCard .singleTeddyCard .displayColor .fas.tanColor {
  color: tan;
}
.itemCard .singleTeddyCard .displayColor .fas.chocolateColor {
  color: chocolate;
}
.itemCard .singleTeddyCard .displayColor .fas.blackColor {
  color: #221E24;
}
.itemCard .singleTeddyCard .displayColor .fas.whiteColor {
  color: wheat;
}
.itemCard .singleTeddyCard .displayColor .fas.paleBrownColor {
  color: #987654;
}
.itemCard .singleTeddyCard .displayColor .fas.darkBrownColor {
  color: #654321;
}
.itemCard .singleTeddyCard .displayColor .fas.brownColor {
  color: brown;
}
.itemCard .singleTeddyCard .displayColor .fas.blueColor {
  color: blue;
}
.itemCard .singleTeddyCard .displayColor .fas.pinkColor {
  color: pink;
}
.itemCard .singleTeddyCard .displayColor .fas.beigeColor {
  color: beige;
}
.itemCard .singleTeddyCard .orderBtn {
  margin: 50px 0px 50px 0px;
  width: clamp(150px, 40%, 250px);
  border-radius: 30px;
  border-style: none;
  background: #82449e;
  color: white;
  text-align: center;
  padding: 15px 0px;
  box-shadow: -3px 3px 5px #c8c8c8;
}

.orderTitle {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.orderText {
  width: 90%;
  text-align: center;
  margin-bottom: 4rem;
}

.orderGlobal {
  width: 90%;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.orderGlobal.enabled {
  justify-content: space-around;
}
.orderGlobal .orderContent {
  text-align: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 3rem;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .orderGlobal .orderContent {
    width: 60%;
  }
}
.orderGlobal .orderContent .orderItem {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .orderGlobal .orderContent .orderItem {
    flex-direction: column;
  }
}
.orderGlobal .orderContent .orderItem__image {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .orderGlobal .orderContent .orderItem__image {
    width: 65%;
    min-width: 360px;
  }
}
.orderGlobal .orderContent .orderItem__image img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}
.orderGlobal .orderContent .orderItem__details {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0.5rem;
}
.orderGlobal .orderContent .orderItem__details .howMany .subBtn {
  margin-right: 0.5rem;
}
.orderGlobal .orderContent .orderItem__details .howMany .addBtn {
  margin-left: 0.5em;
}
.orderGlobal .orderContent .orderItem__details .howMany input {
  width: 50px;
  text-align: center;
}
.orderGlobal .orderFinal {
  text-align: center;
  display: none;
}
.orderGlobal .orderFinal.enabled {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .orderGlobal .orderFinal.enabled {
    width: clamp(240px, 25%, 300px);
  }
}
.orderGlobal .orderFinal.enabled .orderPrice {
  margin-bottom: 1.5rem;
}
.orderGlobal .orderFinal.enabled .orderPrice p {
  margin-top: 5px;
}
.orderGlobal .orderFinal.enabled .orderForm {
  margin-top: 1rem;
}
.orderGlobal .orderFinal.enabled .fields {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
}
@media screen and (max-width: 767px) {
  .orderGlobal .orderFinal.enabled .fields {
    justify-content: space-around;
  }
}
.orderGlobal .orderFinal.enabled input {
  border-radius: 10px;
  text-align: center;
}
.orderGlobal .orderFinal.enabled .notice, .orderGlobal .orderFinal.enabled .warning {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-style: italic;
}
.orderGlobal .orderFinal.enabled #send {
  margin: 1rem auto;
  width: clamp(150px, 40%, 250px);
  border-radius: 30px;
  border-style: none;
  background: #82449e;
  color: white;
  text-align: center;
  padding: 15px 0px;
  box-shadow: -3px 3px 5px #c8c8c8;
}

.validationContent {
  text-align: center;
}
.validationContent section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.validationContent h1, .validationContent h2 {
  margin-bottom: 1rem;
}
.validationContent ul {
  display: flex;
  flex-direction: column;
}
.validationContent .space {
  margin-bottom: 2rem;
}
.validationContent a {
  display: block;
  width: clamp(250px, 40%, 350px);
  border-radius: 30px;
  border-style: none;
  background: #82449e;
  color: white;
  text-align: center;
  padding: 15px 0px;
  box-shadow: -3px 3px 5px #c8c8c8;
}

/*# sourceMappingURL=style.css.map */
