body {
  background: $Lilas;
}

body::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient($Wheat, $Brownish);
  clip-path: circle(25% at 85% 62%);
}

body::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient($Purple, $Mauve);
  clip-path: circle(20% at 13% 25%);
}
