header {
  width: 100vw;
  height: 10vh;
  background-color: $Mauve;
}

nav {
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 1.7rem;
    }
    p {
      @include phoneonly {
        display: none;
      }
      margin: 5px 0px 0px 0px;
    }
  }
  img {
    height: 100%;
  }
}
