// Media queries ==================

@mixin phoneonly {
  @media screen and (max-width: map-get($breakpoints , phone )) {
    @content;
  }
}

@mixin tabletanddesktop {
  @media screen and (min-width: map-get($breakpoints, tablet-min)) {
    @content;
  }
}

@mixin tabletonly {
  @media screen and (min-width: map-get($breakpoints, tablet-min )) and (max-width: map-get($breakpoints, tablet-max )) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin desktoponly {
  @media screen and (min-width: map-get($breakpoints, desktop )) and (max-width: map-get($breakpoints, desktop-max )) {
    @content;
  }
}

@mixin bigscreen {
  @media screen and (min-width: map-get($breakpoints, bigscreen )) {
    @content;
  }
}

// Couleur à appliquer aux cercles =====

@mixin colorCircles {
  &.tanColor {
    color: $tan;
  }
  &.chocolateColor {
    color: $chocolate;
  }
  &.blackColor {
    color: $black;
  }
  &.whiteColor {
    color: $white;
  }
  &.paleBrownColor {
    color: $paleBrown;
  }
  &.darkBrownColor {
    color: $darkBrown;
  }
  &.brownColor {
    color: $brown;
  }
  &.blueColor {
    color: $blue;
  }
  &.pinkColor {
    color: $pink;
  }
  &.beigeColor {
    color: $beige;
  }
}
